.info-orcamento {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.info-orcamento h2 {
  text-align: center;
  color: #4f4f4f;
  font-family: "Amaranth", sans-serif;
}

.info-orcamento p {
  max-width: 600px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.info-orcamento a {
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
}

.info-orcamento mark {
  background: transparent;
  color: #529897;
  font-weight: bold;
}

.botao-orcamento {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 40px 0px;
}

.botao-orcamento h2 {
  text-align: center;
  font-size: 18px;
  color: #529897;
  font-family: "Amaranth", sans-serif;
}

.cta {
  text-decoration: none;
  border: 0;
  padding: 5px 25px;
  background: #529897;
  color: #fbf9f5;
  border-radius: 999px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-size: 16px;
  transition: 350ms ease;
  font-family: "Amaranth", sans-serif;
}

.cta:hover {
  background: var(--teal-600);
}

/* Accordion */

.faq {
  margin: 0px 0px 20px 0px;
}

.faq-1 h2 {
  font-family: "Amaranth", sans-serif;
  text-align: center;
  color: #4f4f4f;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  background: #f2f2f2;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s;
}

.accordion-header:hover {
  background: #e2e2e2;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px;
  background: #fff;
  border-radius: 0 0 6px 6px;
}

.accordion-content p {
  margin: 15px 0;
  font-family: "Montsserrat", sans-serif;
}

.accordion-item.active .accordion-content {
  max-height: 600px; /* Ajuste conforme necessário */
  padding: 15px;
}
